<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
</head>
<body>
<h2>로그인</h2>
<form th:action="@{/login}" th:object="${loginForm}" method="post">
  <div>
    <label>이메일</label>
    <input type="text" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 오류</p>
  </div>
  <div>
    <label>비밀번호</label>
    <input type="password" th:field="*{passwd}">
    <p th:if="${#fields.hasErrors('passwd')}" th:errors="*{passwd}">비밀번호 오류</p>
  </div>
  <p th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err.defaultMessage}"></p>
  <button type="submit">로그인</button>
</form>
</body>
</html>